<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extractor de Hechos</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background: linear-gradient(135deg, #d1e0e0, #e1d5e7);
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            color: #333;
        }

        .container {
            background-color: #f9f9f9;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 40px;
            max-width: 80%;
            width: 80%;
            text-align: center;
            position: relative;
        }

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .header h2 {
            margin: 0;
            color: #0053a0;
            font-size: 24px;
        }

        .header h2 a {
            text-decoration: none;
            color: #0053a0;
            transition: color 0.3s ease;
        }

        .header h2 a:hover {
            color: #ff5733;
        }

        .header .info {
            color: #0053a0;
            font-size: 18px;
            cursor: pointer;
            text-decoration: none;
            transition: color 0.3s ease;
        }

        .header .info:hover {
            color: #ff5733;
        }

        .header img {
            max-width: 100px;
            height: auto;
            margin-left: -150px; /* Mueve la imagen ligeramente hacia la izquierda */
        }

        h1 {
            color: #444;
            margin-bottom: 20px;
            font-size: 28px;
            position: relative;
        }

        h1::after {
            content: '';
            position: absolute;
            width: 50%;
            height: 3px;
            background: #ff5733;
            bottom: -5px;
            left: 25%;
        }

        p {
            color: #555;
            margin-bottom: 10px;
            font-size: 1.1em;
        }

        textarea {
            width: 100%;
            padding: 15px;
            border: 2px solid #ccc;
            border-radius: 5px;
            resize: vertical;
            font-size: 16px;
            color: #333;
            margin-bottom: 20px;
            background-color: #f0f0f0;
        }

        input[type="text"] {
            width: 100%;
            padding: 15px;
            border: 2px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            color: #333;
            margin-bottom: 20px;
            background-color: #f0f0f0;
        }

        button {
            padding: 15px 30px;
            background-color: #6a4d8a;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            transition: background-color 0.3s ease, box-shadow 0.3s ease;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        button::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 300%;
            height: 300%;
            background-color: rgba(255, 255, 255, 0.15);
            transform: translate(-50%, -50%) rotate(45deg);
            transition: width 0.3s ease, height 0.3s ease;
        }

        button:hover::before {
            width: 0;
            height: 0;
        }

        button:hover {
            background-color: #5a3d7a;
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin-top: 20px;
            text-align: left;
            max-height: 200px;
            overflow-y: auto;
        }

        li {
            background-color: #e9e9e9;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
            color: #333;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
        }

        li:nth-child(odd) {
            background-color: #dcdcdc;
        }

        .icon {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <h2>TFG: Fact Checking</h2>
        <a href="https://www.ujaen.es/" target="_blank">
            <img src="{{ url_for('static', filename='descarga2.png') }}" alt="Imagen">
        </a>
        <a class="info" href="{{ url_for('informacion') }}">Información</a>
    </div>
    <h1>¿Quieres verificar una información aportada por una IA generativa?</h1>

    <p>Ingrese un texto para analizar:</p>
    <textarea id="texto" rows="4" cols="50"></textarea>
    
    <p>¿Quiéres que actúe de alguna forma explíctia?:</p>
    <input type="text" id="prompt" placeholder="Actúa como un sistema de fact checking" value="Actúa como un sistema de fact checking">

    <button onclick="extraerHechos()">Extraer Hechos</button>

    <p>Hechos extraídos:</p>
    <ul id="hechos"></ul>

    <p>Opiniones sobre los hechos:</p>
    <ul id="opiniones"></ul>
</div>

<script>
    function extraerHechos() {
        var texto = document.getElementById("texto").value;
        var prompt = document.getElementById("prompt").value;
        fetch('/extraer_hechos', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({texto: texto, prompt: prompt})
        })
            .then(response => response.json())
            .then(data => {
                var hechosList = document.getElementById("hechos");
                var opinionesList = document.getElementById("opiniones");

                hechosList.innerHTML = ""; // Limpiar la lista antes de agregar nuevos hechos
                opinionesList.innerHTML = ""; // Limpiar la lista antes de agregar nuevas opiniones

                data.hechos.forEach(hecho => {
                    var listItemHechos = document.createElement("li");
                    listItemHechos.textContent = hecho;
                    hechosList.appendChild(listItemHechos);
                });

                data.opiniones.forEach(opinion => {
                    var listItemOpiniones = document.createElement("li");

                    // Crear el ícono basado en la opinión
                    var icon = document.createElement("img");
                    icon.className = "icon";

                    if (opinion.startsWith("Verdadero" || "Si")) {
                        icon.src = "{{ url_for('static', filename='tick.jpeg') }}"; // SVG de tick verde
                    } else if (opinion.startsWith("Falso" || "No")) {
                        icon.src = "{{ url_for('static', filename='cruz.png') }}"; // SVG de cruz roja
                    }

                    listItemOpiniones.appendChild(icon);
                    listItemOpiniones.appendChild(document.createTextNode(opinion));
                    opinionesList.appendChild(listItemOpiniones);
                });
            });
    }
</script>
</body>
</html>
