<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Información del Proyecto</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: 'Roboto', sans-serif;
      background: linear-gradient(135deg, #d1e0e0, #e1d5e7);
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      color: #333;
    }

    .container {
      background-color: #f9f9f9;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 40px;
      max-width: 80%;
      width: 80%;
      text-align: center;
      position: relative;
      overflow-y: auto;
      max-height: 90vh;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .header h2 {
      margin: 0;
      color: #0053a0;
      font-size: 24px;
    }

    .header h2 a {
      text-decoration: none;
      color: #0053a0;
      transition: color 0.3s ease;
    }

    .header h2 a:hover {
      color: #ff5733;
    }

    .header .info {
      color: #0053a0;
      font-size: 18px;
      cursor: pointer;
      text-decoration: none;
      transition: color 0.3s ease;
    }

    .header .info:hover {
      color: #ff5733;
    }

    .header img {
      max-width: 100px;
      height: auto;
      margin-left: -200px; /* Mueve la imagen ligeramente hacia la izquierda */
    }

    h1 {
      color: #444;
      margin-bottom: 20px;
      font-size: 28px;
      position: relative;
    }

    h1::after {
      content: '';
      position: absolute;
      width: 50%;
      height: 3px;
      background: #ff5733;
      bottom: -5px;
      left: 25%;
    }

    h2 {
      color: #555;
      margin-bottom: 15px;
      font-size: 22px;
    }

    p {
      color: #555;
      margin-bottom: 10px;
      font-size: 1.1em;
      text-align: justify;
    }

    .section {
      margin-bottom: 30px;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="header">
    <h2><a href="https://www.ujaen.es/" target="_blank">UNIVERSIDAD DE JAÉN</a></h2>
    <img src="{{ url_for('static', filename='descarga2.png') }}" alt="Imagen">
    <a class="info" href="{{ url_for('index') }}">volver</a>
  </div>
  <h1>Información del Proyecto</h1>

  <div class="section">
    <h2>Introducción</h2>
    <p>Esta sección proporciona una visión general del proyecto, incluyendo su propósito, objetivos y el contexto en el que se desarrolla.</p>
  </div>

  <div class="section">
    <h2>Objetivos del Proyecto</h2>
    <p>Describir los objetivos principales del proyecto. Esto puede incluir metas a corto y largo plazo, así como los beneficios esperados.</p>
  </div>

  <div class="section">
    <h2>Metodología</h2>
    <p>Explicar la metodología utilizada para llevar a cabo el proyecto. Esto puede incluir técnicas de investigación, herramientas utilizadas y enfoques adoptados.</p>
  </div>

  <div class="section">
    <h2>Resultados Esperados</h2>
    <p>Describir los resultados esperados del proyecto. Esto puede incluir productos tangibles, informes, descubrimientos o cualquier otro resultado relevante.</p>
  </div>

  <div class="section">
    <h2>Conclusiones</h2>
    <p>Proporcionar un resumen de las conclusiones del proyecto, destacando los hallazgos más importantes y su relevancia.</p>
  </div>

  <div class="section">
    <h2>Referencias</h2>
    <p>Incluir una lista de referencias utilizadas en el proyecto, como libros, artículos, sitios web, etc.</p>
  </div>
</div>
</body>
</html>
